/*       R E S E T
------------------------------ */
*{
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}


/*       B O D Y
------------------------------- */
html, body{
	height: 100%;
}

body{
	/* background-color: #ffffff; */
	height: 100%;
	background-image: url("Background.jpg");
	background-size: cover;
}

/*       W R A P P E R
------------------------------- */
div.wrapper{
	width: 100%;
	min-height: 100%;
	/* height: 100%; */
	/* max-width: 100%; */
	/* height: 90%; */
	/* min-height: 95%; */
	/* margin: 20px auto; */

}

/*       H E A D E R
------------------------------- */
header{
	width: 100%;
	height: 100px;
	background-image: url("chipsImage.jpg");
	opacity: .8;
	background-size: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/*    N A V   B A R
------------------------------- */

nav{
	display: flex;
	justify-content: center;
	width: auto;
	height: 30px;
	/* outline: .5px solid #000000; */
	/* background-color: green; */
	padding-top: 5px;
	text-align: center;
	/* background-image: url("chipsImage.jpg"); */
	/* background-position: 0 -100px; */
}

ul{
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

nav a{
	/* display: inline-block; */
	/* float: left; */
	/* margin-left: 100px; */
	/* margin-top: 2.5px; */
	padding: 10px;
	width: 100%;
	font-weight: bold;
	font-size: 150%;
	font-family: fantasy;
	color: rgba(7, 14, 75, 0.863);
	text-decoration: none;
}

nav a:hover{
	color: red;
}


/*    C O N T E N T
------------------------------ */
div.content{
	width: auto;
	/* height: auto; */
	/* min-height: 50px; */  /*with this min, the heght will start this small and grow as much as it needs*/
	height: auto;
	min-height: 100%;
	/* background-color: rgb(255, 255, 255); */
}

#secretTxt{
	margin-top: 100px;
	font-size: 200%;
	color: rgb(51, 240, 4);
	font-weight: bold;
	/* display: flex; */
	/* align-items: center;
	justify-content: center; */
}

p.contentTxt{
	/* padding: 20px 0 0 20px; */
	padding: 20px; /*sets padding for all corners*/
}

/*    F O O T E R
------------------------------ */
footer{
	background-color: rgba(5, 110, 31, 0.493);
	/* background-image: url("chipsImage.jpg"); */
	/* background-position: 0 -135px; */
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: -30px;
	width: 100%;
	height: 30px;	
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}