@charset "utf-8";
/* CSS Document */

body{
    margin: 0;
    padding: 0;
}
body a:hover{
    text-decoration: none;
}
nav.my_navbar{
    padding: .5em 0;
}
.logo a{
    font-size: 38px;
    font-weight: 400;
    color: #ff6c5f;
}
.logo a:hover{
    color: #ff6c5f;
}
.logo a span{
    font-weight: 700;
}
.logo{
    float: left;
}
.right{
    float: right;
}
.my_socials{
    margin-top: 12px;
}
.my_socials a span{
    background-color: #333;
    color: #ffffff;
    font-size: 15px;
    outline-offset: 2px;
    outline: 2px solid #353535;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.my_socials a span:hover{
    background-color: #3b5998;
    color: #FFF;
    outline: 2px solid #3b5998;
}
.my_socials ul li{
    display: inline-flex;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
.top{
    margin-top: 50px;
}
.pad{
    padding-top: 13%;
}
.my_banner{
    background: url()
}